.model-modal {
  min-width: 640px;
  min-height: 640px;
  position: relative;
}

.ModelVideoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  margin: 0 1rem 1rem 1rem;
}
