body {
  margin: 0;
  --color-primary: #1565c0;
  --card-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  --font-family:  Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: var(--font-family);
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: calc(100vw - 48px);
  display: flex;
  padding: 0 24px;
}

.ThumbnailGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  /* max-width: 1360px; */
  width: calc(100vw - 60px);
  /* border: solid 4px green; */
  padding-bottom: 20px;
  gap: 1rem;
}

.ModelGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  /* max-width: 1360px; */
  width: calc(100vw - 60px);
  margin: 0 30px;
  /* border: solid 4px green; */
  padding-bottom: 20px;
  gap: 1rem;
}

.app-region-menu {
  position: absolute;
  top: -200px;
  left: 0;
  transition: top 0.2s ease-in;
}

.app-region-menu.open {
  top: 0;
}

.spin {
  animation: spin 0.4s infinite linear;
}

.favorite {
  color: tomato !important;
  font-weight: 700 !important;
}

.toolbar {
  height: 48px;
  align-items: center;
  width: calc(100vw - 32px);
  /* background-color: var(--color-primary); */
  padding: 12px 32px 6px 32px;
  box-shadow: var(--card-shadow);
}

.toolbar .link {
  padding: 6px 12px;
  text-decoration: none;
  color: #333;
  font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.toolbar .link:hover { 
  text-decoration: underline;
  color: tomato;
 }

.toolbar .link.on {
  margin: 0 12px; 
  background-color: var(--color-primary);
  color: white;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
}

.action {
  color: #222;
  cursor: pointer;
}

.action:hover {
  text-decoration: underline;
  color: tomato;
}

.action:active { 
  color: firebrick;
}

.model-image {
  max-width: 120px;
  height: auto;
}

.maxWidth {
  max-width: 25vw;
}

.red {
  color: tomato;
}

.modal {
  min-width: 500px;
}

.flipped {
  transform:rotate(180deg);
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

