body {
  margin: 0;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: calc(100vw - 48px);
  display: flex;
  padding: 0 24px;
}

.ThumbnailGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  /* max-width: 1360px; */
  width: calc(100vw - 60px);
  /* border: solid 4px green; */
  padding-bottom: 20px;
  gap: 1rem;
}

.app-region-menu {
  position: absolute;
  top: -200px;
  left: 0;
  transition: top 0.2s ease-in;
}

.app-region-menu.open {
  top: 0;
}

.spin {
  animation: spin 0.4s infinite linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

